<!DOCTYPE html>
<html>
<head>
	<!--#include virtual="/include/head.html"-->
	<title>中科建安教育网-注册安全工程师权威培训机构</title>
</head>
<body ng-app="baseApp">
	<!--#include virtual="include/header.html"-->
	<div class="page ng-init" ng-controller="home">
		<div class="box h_area">
			<div class="cf f_biger">
				<h4 class="fl">地方资讯</h4>
				<div class="bdx fl" ng-controller="newsList" data-type="6">
					<a href="<!--#echo var='ver1'-->news/list.html?type=6">全国</a>
					<a href="<!--#echo var='ver1'-->news/list.html?type=6&sid={{s.id}}" ng-repeat="s in clist">{{s.title}}</a>
				</div>
				<div class="bdx fr" ng-mouseenter="ta.stop()" ng-mouseleave="ta.play()">
					<div ng-style="{'top':0-ta.i+'px'}">
						<a class="red" ng-repeat="s in tlist" title="s.title" href="<!--#echo var="ver1"-->news/item.html?id={{s.id}}&type=2">{{s.title|slice:16}}</a>
						<a class="red" ng-repeat="s in tlist" title="s.title" href="<!--#echo var="ver1"-->news/item.html?id={{s.id}}&type=2">{{s.title|slice:16}}</a>
					</div>
				</div>
			</div>
			<div class="banner bnr1" data-type="1" ng-mouseenter="ba.stop()" ng-mouseleave="ba.play()" ng-controller="banner" data-id="" style="height: 140px">
				<a ng-repeat="s in list" ng-class="{'on':ba.i==$index}" href="{{s.linkdress}}" ng-style="{backgroundColor:'#'+s.bgcolor,backgroundImage: 'url('+s.url+')'}"></a>
				<p><i ng-repeat="s in list" ng-class="{'on':ba.i==$index}" ng-mouseenter="ba.i=$index"></i></p>
			</div>
		</div>
		<div class="cf h_news">
			<div class="box fl">
				<div class="fl">
					<h4>专题报道 <a href="<!--#echo var='ver1'-->news/list.html?type=7" class="more">更多&gt;</a></h4>
					<div class="bdx f_biger list_a" ng-controller="newsList" data-type="7" data-rows="7">
						<a href="<!--#echo var='ver1'-->news/item.html?type=7&id={{s.id}}" title="{{s.title}}" ng-repeat="s in list">{{s.title | slice:14}} <span>{{s.thisdate}}</span></a>
					</div>
				</div>
				<div class="fr">
					<h4>行业热点 <a href="<!--#echo var='ver1'-->news/list.html?type=3" class="more">更多&gt;</a></h4>
					<div class="bdx f_biger list_a" ng-controller="newsList" data-type="3" data-rows="7">
						<a href="<!--#echo var='ver1'-->news/item.html?type=3&id={{s.id}}" title="{{s.title}}" ng-repeat="s in list">{{s.title | slice:14}} <span>{{s.thisdate}}</span></a>
					</div>
				</div>
			</div>
			<div class="box fr h_login f_biger">
				<a href="<!--#echo var='ver1'-->user/avatar.html" class="avatar">
					<img ng-src="{{user.info.logo?user.info.logo:'<!--#echo var='ver1'-->images/avatar_man.png'}}">
				</a>
				<p style="margin: 20px 0 40px 120px">HI，{{user.info.nickname}}<br>
				欢迎来到中科建安</p>
				<p ng-if="!user.logined"><a href="{{user.loginURL}}" class="btn fl">登录</a><a href="{{user.registerURL}}" class="btn fr">注册</a></p>
				<p ng-if="user.logined"><a href="<!--#echo var='ver1'-->user/detail.html" class="btn fl">个人资料</a><a href="<!--#echo var='ver1'-->user/car.html" class="btn fr">购物车</a></p>
				<a href="<!--#echo var='ver1'-->user/plan_v.html" class="h_l_a"><img src="<!--#echo var='ver1'-->images/taocan/i2.png"> 学习计划</a>
				<a href="<!--#echo var='ver1'-->user/class.html" class="h_l_a" style="left:138px"><img src="<!--#echo var='ver1'-->images/taocan/i3.png"> 我的课程</a>
				<a href="<!--#echo var='ver1'-->user/test.html" class="h_l_a" style="left:258px"><img src="<!--#echo var='ver1'-->images/taocan/i4.png"> 我的题库</a>
			</div>
		</div>
		<div class="box_pd">
			<h3 class="tit">特训现场<span>SPECIAL FIELD</span></h3>
			<a href="<!--#echo var='ver1'-->picture/list.html" class="more">更多&gt;</a>
			<div class="h_pic" ng-controller="scene" data-rows="6">
				<div class="h_pic_list fr">
					<label class="hover_box" title="{{hash.year}}年-{{p.slist[p.slist.length-1].content}}" ng-class="{'on':index==$index}" ng-repeat="p in list" ng-click="play(p)"><img ng-src="{{p.slist[p.slist.length-1].imgurl}}"><span>{{hash.year}}年<br>{{p.slist[p.slist.length-1].content|slice:9}}</span></label>
				</div>
				<div class="hover_box">
					<div class="pic_anim" ng-mouseenter="sa.stop()" ng-mouseleave="sa.play()">
						<div ng-class="{'anim' : sa.a}" ng-style="{left:0-sa.i*720+'px'}">
							<img ng-src="{{p.imgurl}}" ng-repeat="p in plist">
							<img ng-src="{{p.imgurl}}" ng-repeat="p in plist">
						</div>
						<label ng-click="sa.next()"></label>
						<label class="p_a_r" ng-click="sa.prev()"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="box_pd">
			<h3 class="tit">课程介绍<span>COURSE INTRODUCTION</span></h3>
			<a href="<!--#echo var='ver1'-->class/list.html" class="more">更多&gt;</a>
			<ul class="f_biger h_class">
				<li class="bdx">
					<a href="<!--#echo var='ver1'-->class/item.html?mid=11&cid=0&gid=155&fid=160"><img class="img_bg" src="<!--#echo var='ver1'-->tmp/1.jpg"><i class="icon i_play"></i></a>
					<div class="bdx">
						<img src="<!--#echo var='ver1'-->images/c1.png">
						<p><i class="icon i_arrow"></i>章节习题 历年真题 模拟考试 视频课程 名师讲义</p>
						<p><i class="icon i_arrow"></i>突出考点 精确剖析。</p>
						<p><i class="icon i_arrow"></i>赠送配套讲义、解析、试题。</p>
						<p><i class="icon i_person"></i>适合人群：有一定基础、自学能力较强，有时间完成学习计划，想通过名师指导掌握考点进行提升的学员。</p>
					</div>
				</li>
				<li class="bdx">
					<a href="<!--#echo var='ver1'-->class/item.html?mid=11&cid=0&gid=156&fid=166"><img class="img_bg" src="<!--#echo var='ver1'-->tmp/2.jpg"><i class="icon i_play"></i></a>
					<div class="bdx">
						<img src="<!--#echo var='ver1'-->images/c2.png">
						<p><i class="icon i_arrow"></i>协助考生报名、咨询、跟踪学习进度</p>
						<p><i class="icon i_arrow"></i>为学员制定学习计划</p>
						<p><i class="icon i_arrow"></i>赠送配套《考点精讲讲义》、《历年真题考点解析》、《章节练习题》、《高频考点试题》 </p>
						<p><i class="icon i_person"></i>适合人群：基础较薄弱，学习时间有限，不能参加面授课程。想通过网课培训接受名师点拨，结合题库课程掌握考点，高效通过考试的学员。</p>
					</div>
				</li>
				<li class="bdx">
					<a href="<!--#echo var='ver1'-->class/item.html?mid=11&cid=0&gid=157&fid=169"><img class="img_bg" src="<!--#echo var='ver1'-->tmp/3.jpg"><i class="icon i_play"></i></a>
					<div class="bdx">
						<img src="<!--#echo var='ver1'-->images/c3.png">
						<p><i class="icon i_arrow"></i>协助考生报名、咨询、跟踪学习进度</p>
						<p><i class="icon i_arrow"></i>为学员制定学习计划</p>
						<p><i class="icon i_arrow"></i>赠送配套《考点精讲讲义》、《历年真题考点解析》、《章节练习题》、《高频考点试题》</p>
						<p><i class="icon i_person"></i>适合人群：基础薄弱，自我学习能力不强，基本没有时间学习。但有条件参加面授课程，通过名师现场教学指导，特训+冲关学习。</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="box_pd">
			<h3 class="tit">试题练习<span>PRACTICE TEST</span></h3>
			<a href="<!--#echo var='ver1'-->test/list.html" class="more">更多&gt;</a>
			<div class="bdx h_test">
				<h5>请选择科目和试题类型</h5>
				<p>
				<label class="h_t_1" ng-class="{'on':cid==34}" ng-click="cid=34"><img src="<!--#echo var='ver1'-->images/h_t_1.png">安全生产法及相关法律知识</label>
				<label class="h_t_2" ng-class="{'on':cid==35}" ng-click="cid=35"><img src="<!--#echo var='ver1'-->images/h_t_2.png">安全生产管理知识</label>
				<label class="h_t_3" ng-class="{'on':cid==36}" ng-click="cid=36"><img src="<!--#echo var='ver1'-->images/h_t_3.png">安全生产技术</label>
				<label class="h_t_4" ng-class="{'on':cid==37}" ng-click="cid=37"><img src="<!--#echo var='ver1'-->images/h_t_4.png">安全生产事故案例分析</label></p>
				<p>
				<label class="h_t_5" ng-class="{'on':type=='ChaptersAndSections'}" ng-click="type='ChaptersAndSections'"><img src="<!--#echo var='ver1'-->images/h_t_5.png">章节练习</label>
				<label class="h_t_6" ng-class="{'on':type=='AllReal'}" ng-click="type='AllReal'"><img src="<!--#echo var='ver1'-->images/h_t_6.png">历年真题</label>
				<label class="h_t_7" ng-class="{'on':type=='AllSimul'}" ng-click="type='AllSimul'"><img src="<!--#echo var='ver1'-->images/h_t_7.png">模拟考试</label></p>
				<img src="<!--#echo var='ver1'-->images/h_down.png">
				<a href="<!--#echo var='ver1'-->test/list.html?mid=11&type={{type}}&cid={{cid}}" class="btn f_biger">开始做题</a>
			</div>
		</div>
		<div class="cf h_download">
			<div class="fl box_pd">
				<h3 class="tit">资料下载<span>DOWNLOAD THE DATE</span></h3>
				<a href="<!--#echo var='ver1'-->download/list.html" class="more">更多&gt;</a>
				<div class="bdx f_biger list_a" ng-controller="download" data-rows="8">
					<a href="{{user.logined?s.url:user.loginURL}}" ng-repeat="s in list"><i class="icon i_download"></i>{{s.name|slice:40}}<span class="btn">下载</span></a>
				</div>
			</div>
			<div class="fr box">
				<div class="banner bnr1" data-type="2" ng-controller="banner" data-id="" style="height: 346px">
					<a ng-repeat="s in list" ng-class="{'on':ba.i==$index}" href="{{s.linkdress}}" ng-style="{backgroundColor:'#'+s.bgcolor,backgroundImage: 'url('+s.url+')'}"></a>
					<p><i ng-repeat="s in list" ng-class="{'on':ba.i==$index}" ng-mouseenter="ba.i=$index"></i></p>
				</div>
			</div>
		</div>
		<div class="box_pd">
			<h3 class="tit">授课名师<span>FAMOUS TEATER</span></h3>
			<a href="<!--#echo var='ver1'-->teacher/list.html" class="more">更多&gt;</a>
			<ul ng-controller="teacherList" data-rows="8" class="h_teacher cf">
				<li ng-repeat="s in list" class="hover_box">
					<img ng-src="{{s.logo}}">
					<div>
						<h5>— {{s.name}} —</h5>
						<p><b>主讲课程：</b>{{s.course | slice:28}}<br>
						<span ng-if="s.fengge"><b>讲课风格：</b>{{s.fengge | slice:28}}</span></p>
						<a href="<!--#echo var='ver1'-->teacher/item.html?id={{s.id}}" class="btn">查看详情</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="box_pd">
			<h3 class="tit">各地法律法规<span>LOCAL LAWS AND REGULATIONS</span></h3>
			<a href="<!--#echo var='ver1'-->news/list.html?type=4" class="more">更多&gt;</a>
			<div class="cf h_law f_biger ">
				<div class="fl bdx list_a" ng-controller="newsList" data-type="4" data-rows="8" data-page="1">
					<a href="<!--#echo var='ver1'-->news/item.html?type=4&id={{s.id}}" title="{{s.title}}" ng-repeat="s in list">{{s.title | slice:24}} <span>{{s.thisdate}}</span></a>
				</div>
				<div class="fr bdx list_a" ng-controller="newsList" data-type="4" data-rows="8" data-page="2">
					<a href="<!--#echo var='ver1'-->news/item.html?type=4&id={{s.id}}" title="{{s.title}}" ng-repeat="s in list">{{s.title | slice:24}} <span>{{s.thisdate}}</span></a>
				</div>
			</div>
		</div>
		<div class="box_pd">
			<h3 class="tit">学员评价<span>STUGENT EVALUATION</span></h3>
			<div class="bdx">
				<ul class="h_comment f_biger">
					<li ng-mouseenter="h_c_i=0">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/1.jpg" class="u_avatar">
						<b>落日余晖</b>
						<p>感谢刘老师三个月来的全程关注和指导，奈何学生不才，没有取得好的成绩。在培训学习的整个过程中，我都能感受到老师们的关心和鼓励，享受到了学习的快乐，对安全管理也有了新的认识和提高，再一次感谢你们，真诚祝愿各位老师工作顺利、生活愉快。有空来普洱玩。</p>
					</li>
					<li style="left: 90px;" ng-class="{'on':h_c_i<1}" ng-mouseenter="h_c_i=1">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/2.jpg" class="u_avatar">
						<b style="background: #b5ece9">山川</b>
						<p>管理只看了一小时资料，感觉比较简单。资料里好几道题跟考试题差不多，考点太有用了。</p>
					</li>
					<li style="left: 180px;" ng-class="{'on':h_c_i<2}" ng-mouseenter="h_c_i=2">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/3.jpg" class="u_avatar">
						<b style="background: #ded9ff">静心</b>
						<p>中科建安的全体老师：你们辛苦了！注安考试昨天结束，感谢你们三个月来的全程关心和指导，无论考试成绩如何，我们不后悔，因为培训学习的整个过程中，我们都能感受到老师的关心和鼓励，享受到了学习的快乐和收获，认识你们很高兴。祝愿各位老师工作顺利、生活愉快！</p>
					</li>
					<li style="left: 270px;" ng-class="{'on':h_c_i<3}" ng-mouseenter="h_c_i=3">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/4.jpg" class="u_avatar">
						<b style="background: #fbecc9">时光漫步</b>
						<p>谢谢刘老师，从培训到考试结束，一直跟踪指导我们学员的学习，老师您辛苦了！学员们辛苦了！谢谢中科建安！</p>
					</li>
					<li style="left: 360px;" ng-class="{'on':h_c_i<4}" ng-mouseenter="h_c_i=4">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/5.jpg" class="u_avatar">
						<b>天蓝云淡</b>
						<p>感谢中科建安的老师们，你们非常敬业，也非常负责，给你们点个赞，谢谢老师！</p>
					</li>
					<li style="left: 450px;" ng-class="{'on':h_c_i<5}" ng-mouseenter="h_c_i=5">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/6.jpg" class="u_avatar">
						<b style="background: #fed3d3">sky</b>
						<p>考完了第一科，哎呀，你们家那题啊，全有，一道没跑，特别是哪个多选，都在你们那范围之内的那些题里面。</p>
					</li>
					<li style="left: 540px;" ng-class="{'on':h_c_i<6}" ng-mouseenter="h_c_i=6">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/7.jpg" class="u_avatar">
						<b style="background: #ded9ff">雪</b>
						<p>米老师你好，中科建安太厉害了，我感觉考得还满意，无论结果如何，我都很满意，谢谢你米老师。吃水不忘挖井人，我从沈阳往回走了，祝你工作顺利！</p>
					</li>
					<li style="left: 630px;" ng-class="{'on':h_c_i<7}" ng-mouseenter="h_c_i=7">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/8.jpg" class="u_avatar">
						<b style="background: #b5ece9">如烟</b>
						<p>自我感觉不错，我把题库练习过了两遍！两遍呢！眼睛都疼的不要不要的了。有好几道题是上个月给的资料里的，自信心还是很高的，不枉花钱参加两期课程，谢谢您哦！</p>
					</li>
					<li style="left: 720px;" ng-class="{'on':h_c_i<8}" ng-mouseenter="h_c_i=8">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/9.jpg" class="u_avatar">
						<b style="background: #fbecc9">向往的生活</b>
						<p>给老师点个大大的赞！咱中科建安还是很赞的，考点压的也不错，老师也很负责，谢谢！</p>
					</li>
					<li style="left: 810px;" ng-class="{'on':h_c_i<9}" ng-mouseenter="h_c_i=9">
						<img ng-src="<!--#echo var='ver1'-->tmp/c/10.jpg" class="u_avatar">
						<b style="background: #fed3d3">高山仰止</b>
						<p>我看了好多家的资料，中科建安的资料是最全、最好记的，比其他的资料更贴合考试需要，我支持中科建安！</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--#include virtual="include/footer.html"-->
</body>
</html>