<!DOCTYPE html>
<html>
<head>
	<!--#include virtual="/include/head.html"-->
	<title>注册</title>
</head>
<body ng-app="baseApp">
	<div class="login" ng-controller="register">
		<div class="page header">
			<h1><a href="<!--#echo var="ver1"-->index.html"><img src="<!--#echo var="ver1"-->images/logo.png" alt="">中科建安</a></h1>
			<h2>注册</h2>
			<div class="fr">
				<a href="<!--#echo var="ver1"-->login.html?href={{hashHref}}">登录</a>
				<a href="<!--#echo var="ver1"-->findpwd.html?ph={{ph}}&href={{hashHref}}">忘记密码?</a>
				<a href="<!--#echo var="ver1"-->help/" target="_blank">帮助中心</a>
			</div>
		</div>
		<div class="login_bg" style="height: 600px;padding:60px 0">
			<form class="register_f page ng-init" ng-submit="sub()" name="user" novalidate autocomplete="off">
				<ul class="form" ng-show="!ok">
					<li class="no_f red">{{errMsg}}</li>
					<li>
						<label for="ph" class="f_i"><big class="red">*</big>手&ensp;机&ensp;号：</label>
						<input id="ph" type="text" class="txt" ng-model="ph" vphone name="ph" required placeholder="完成验证后可通过该手机号找回密码"><span class="err" ng-show="user.ph.$dirty&&user.ph.$invalid">请输入正确格式的手机号码</span></li>
					<li>
						<label for="code" class="f_i"><big class="red">*</big>图片验证：</label>
						<input id="imgcode" maxlength="4" ng-minlength="4" class="txt half" ng-model="imgcode" name="imgcode" required placeholder="图片验证"><label title="点击刷新验证码" ng-click="ran()" class="half"><img ng-src="<!--#echo var="ver1"-->kstk-api/webuser/validateCode?{{r}}" alt="点击刷新验证码"></label><span class="err" ng-show="user.imgcode.$dirty&&user.imgcode.$invalid">请输入4位图片验证码</span></li>
					<li>
						<label for="code" class="f_i"><big class="red">*</big>验&ensp;证&ensp;码：</label>
						<input id="code" maxlength="4" ng-minlength="4" class="txt half" ng-model="code" name="code" required placeholder="短信验证码"><label class="half btn bg_white" ng-click="send(user.ph.$modelValue)" ng-class="{'disabled':user.ph.$invalid||user.imgcode.$invalid||sended}" ng-bind="sended?'等待 '+s+' 秒…':'获取短信验证码'"></label><span class="err" ng-show="user.code.$dirty&&user.code.$invalid">请输入4位短信验证码</span></li>
					<li>
						<label for="pw" class="f_i"><big class="red">*</big>密&emsp;&emsp;码：</label>
						<input id="pw" type="password" maxlength="18" ng-minlength="4" class="txt" ng-model="pw" name="pw" ng-pattern="/^[0-9a-zA-Z\_]+$/" required placeholder="请输入4-18位（数字，字母，下划线）"><span class="err" ng-show="user.pw.$dirty&&user.pw.$invalid">请输入4-18位（数字，字母，下划线）</span></li>
					<li>
						<label for="rpw" class="f_i"><big class="red">*</big>确认密码：</label>
						<input id="rpw" type="password" class="txt" vconfirm="pw" required ng-model="rpw" name="rpw" placeholder="请再次输入密码"><span class="err" ng-show="user.rpw.$dirty&&user.rpw.$invalid">两次密码输入不一致</span></li>
					<li>
						<label for="ma" class="f_i">选择专业：</label>
						<select id="ma" class="txt" name="ma" ng-model="ma" ng-options="l.id as l.major_name for l in list">
						</select>注册后可以在学习中心修改</li>
					<li class="no_f">
						<label for="readed"><input type="checkbox" id="readed" required ng-model="readed" name="readed">我已阅读并同意<a href="<!--#echo var="ver1"-->help/?pid=3&tid=1" target="_blank">《中科建安用户注册服务协议》</a></label></li>
					<li class="no_f"><button class="sub btn" type="submit" ng-disabled="user.$invalid">立即注册</button></li>
				</ul>
				<div class="register_ok" ng-show="ok">
					<h3><i class="icon i_ok"></i>恭喜您完成注册！</h3>
					<p><big class="red">{{s}}</big> 秒后跳转至进入<a href="{{href}}">页面</a></p>
				</div>
			</form>
		</div>
	</div>
<!--#include virtual="/include/footer.html"-->
</body>
</html>