<!DOCTYPE html>
<html>
<head>
	<script src="<!--#echo var="ver1"-->ckplayer/ckplayer.js" type="text/javascript"></script>
	<!--#include virtual="/include/head.html"-->
	<title>班次详情</title>
	<style type="text/css">
		.class_fr{
			margin: 0;
		}
		.class_vlist{
			height: 354px;
		}
		.i_book{
			width: 22px;
			height: 28px;
			background: url(<!--#echo var='ver1'-->images/taocan/c1.png);
		}
	</style>
</head>
<body ng-app="baseApp">
<!--#include virtual="/include/header.html"-->
<div class="page ng-init" ng-controller="class">
	<div class="bread"><a href="<!--#echo var="ver1"-->">首页</a>&gt;<a href="<!--#echo var="ver1"-->taocan/list.html">学习套餐</a>&gt;<span>考点视频讲解</span></div>
	<div ng-if="grade_name" class="box">
		<div class="cf">
			<div class="class_fl"><div id="video1" class="class_video"></div><h2>{{video.name}}</h2></div>
			<div class="class_fr box_bd f_biger">
				<div class="class_t" ng-class="{'cursor':glist.length>1,'on':cursor}" ng-click="cursor=!cursor"><i class="icon i_book"></i>{{grade_name}}<i class="icon fr i_up" ng-if="glist.length>1"></i>
					<div class="c_fr_li">
						<label ng-repeat="g in glist" ng-if="grade_name!=g.name" ng-click="changeList(g)"><i class="icon i_book"></i>{{g.name}}</label>
					</div>
				</div>
				<div class="class_vlist">
					<label ng-repeat="v in vlist" ng-if="v.name.indexOf('仅课件')" ng-class={'on':v.id==rt.vid,'play':!v.is_free||info.buy} ng-click="getVideo(v.id)" title="{{v.name}}">{{v.name|slice:18}}
						<span class="bg_green" ng-if="v.is_free==0">免费</span>
						<span class="bg_red" ng-if="v.is_free==1">会员免费</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!--#include virtual="/include/footer.html"-->
</body>
</html>