<!DOCTYPE html>
<html>
<head>
	<!--#include virtual="/include/head.html"-->
	<title>学习套餐</title>
</head>
<body ng-app="baseApp">
<!--#include virtual="/include/header.html"-->
<div class="page cf ng-init" ng-controller="taocan">
	<div class="bread"><a href="<!--#echo var="ver1"-->">首页</a>&gt;<span>学习套餐</span></div>
	<div class="nav_l box f_biger">
		<div ng-class="{'in':!nid}" ng-show="nl>1">
			<a ng-click="nid=0" class="btn">考点视频讲解</a>
		</div>
		<div ng-class="{'in':nid==1}" ng-show="nl>1">
			<a ng-click="nid=1" class="btn">高频考点题库</a>
		</div>
		<div ng-class="{'in':nid==2}" ng-show="nl==1||nl==3">
			<a ng-click="nid=2" class="btn">在线考点观看</a>
		</div>
		<div ng-class="{'in':nid==3}" ng-show="nl>1">
			<a ng-click="nid=3" class="btn">在线学习答疑</a>
		</div>
	</div>
	<div class="box_r">
		<ul class="class_nav box" ng-if="mlist.length&&(!nid||nid==1)">
			<!-- <li>
				<b>报考专业</b>
				<label ng-repeat="m in mlist" ng-click="setMid(m.id,$index)" ng-class="{'on':hash.mid==m.id}">{{m.major_name}}</label>
			</li> -->
			<li ng-if="clist.length">
				<b>报考科目</b>
				<label ng-repeat="c in clist" ng-click="setCid(c.id)" ng-class="{'on':cid==c.id}">{{c.course_name}}</label>
			</li>
		</ul>
		<div class="box">
			<ul class="myClassList bdx" ng-if="!loading&&list.length&&!nid">
				<li class="mcl_1" ng-repeat="s in list" ng-class="{'last':$last}">
					<h4>{{s.name}}</h4>
					<div class="mcl_2" ng-repeat="q in s.jdlist" ng-class="{'last':$last,'on':q.showList}">
						<p ng-click="show(q,s.id)" class="cursor"><i class="icon i_plus"></i><b>第 {{$index | xyz}} 阶段：</b>视频讲解
						<i class="icon i_up fr"></i></p>
						<table>
							<tr ng-repeat="f in q.list" ng-class="{'odd':$odd}" ng-init="download=f.name.indexOf('仅课件')==0">
								<td style="padding: 0 0 0 42px">{{f.name}}</td>
								<td width="80" class="gray">主讲：{{f.tname}}</td>
								<td width="60"><a ng-if="f.ppt_url" href="{{f.ppt_url}}" target="_blank">查看课件</a></td>
								<td width="200" ng-if="!download"><i class="i_bar" ng-if="!q.able&&f.current_time&&f.total_time"><u class="a" ng-style="{width:f.current_time/f.total_time*100+'%'}"></u></i></td>
								<td width="120" ng-if="!download"><a ng-if="!q.able" href="<!--#echo var="ver1"-->taocan/class.html?mid={{f.major_id}}&cid={{f.course_id}}&gid={{f.gid}}&vid={{f.id}}" class="btn bg_white" ng-class="{'on':f.current_time>0}">{{f.current_time>0?'继续学习':'开始学习'}}</a></td>
							</tr>
						</table>
					</div>
				</li>
			</ul>
			<ul class="myClassList bdx" ng-if="!loading&&list.length&&nid==1">
				<li class="mcl_1" ng-repeat="s in list" ng-class="{'last':$last}">
					<h4>{{s.name}}</h4>
					<div class="mcl_2" ng-repeat="q in s.jdlist" ng-class="{'last':$last,'on':q.showList}">
						<p ng-click="show(q,s.id)" class="cursor"><i class="icon i_plus"></i><b>第 {{$index | xyz}} 阶段：</b>高频题库
						<i class="icon i_up fr"></i></p>
						<table>
							<tr ng-repeat="s in q.list" ng-class="{'odd':$odd}" ng-init="s.p=s.zdnums/s.yznums">
								<td style="padding: 0 0 0 42px">{{s.title}}</td>
								<td width="120">试卷题量：{{s.nums}}</td>
								<td width="200"><i class="i_bar" ng-if="s.yznums"><u ng-class="{'a':s.p>0.84,'b':s.p>0.69,'c':s.p>0.49}" ng-style="{width:s.yznums/s.nums*100+'%'}"></u></i></td>
								<td width="120"><a ng-if="s.yznums>0" href="<!--#echo var='ver1'-->test/item.html?mid={{hash.mid}}&cid={{hash.cid}}&type=grade&sid={{s.id}}&name={{s.title}}&keep=1" class="btn bg_white">继续答题</a></td>
								<td width="120"><a href="<!--#echo var='ver1'-->test/item.html?mid={{hash.mid}}&cid={{hash.cid}}&type=grade&sid={{s.id}}&name={{s.title}}" class="btn bg_white" ng-class="{'on':s.yznums}">{{s.yznums?"再做一次":"开始做题"}}</a></td>
							</tr>
						</table>
					</div>
				</li>
			</ul>
			<ul class="odd_list bdx" ng-if="!loading&&list.length&&nid==2">
				<li ng-repeat="s in list" ng-class="{'last':$last,'odd':$odd}" style="padding: 20px">
					<a href="<!--#echo var='ver1'-->taocan/pic.html?id={{s.id}}">{{s.name|slice:40}}</a>
				</li>
			</ul>
			<div ng-if="nid==3">
				<img src="<!--#echo var='ver1'-->images/taocan/qq.png" style="display: block;margin: 20px auto">
			</div>
			<div class="loading" ng-show="loading"></div>
			<div class="search_none" ng-if="!loading&&!list.length">
				很抱歉，暂无相关内容
			</div>
		</div>
	</div>
</div>
<!--#include virtual="/include/footer.html"-->
<script>
	base.controller('taocan', function($scope, $http, user) {
		$scope.user = user;
		user.bind(function(){
			if(user.logined && user.taocan){
				$scope.nl = user.taocan
				if(user.taocan == 1)
					$scope.nid = 2;
			}else
				location.href = "show.html"
		})

		$http.post(service + "frontIndex/getAllMyMajor").success(function(response) {
			if (response.code == 200) {
				$scope.mlist = response.list;
				$scope.mid = $scope.mlist[0].id;
				$scope.getCourse();
				for (var i = $scope.clist.length; i--;) {
					if($scope.clist[i].id == 36){
						$scope.setCid(36);
						return;
					}
				}
			}
		});
		$scope.getCourse = function(i) {
			$scope.clist = $scope.mlist[i || 0].clist;
			$scope.setCid($scope.clist[0].id);
		};
		$scope.setMid = function(id, i) {
			if (id && $scope.mid != id) {
				$scope.mid = id;
				$scope.getCourse(i);
				$scope.get(1, true);
			}
		};
		$scope.setCid = function(id) {
			if ($scope.cid != id) {
				$scope.cid = id;
				if($scope.nid != 2)
					$scope.get(1, true);
			}
		};

		$scope.show = function(q, gid) {
			q.showList = !q.showList;
			var order = $scope.nid?'GradeExamOrder':'PlanGradeOrder';
			if (q.showList && !q.list) {
				$http.post(service + "webuser/getMy" + order + "?type=2&gid=" + gid + "&order_id=" + q.order_id).success(function(response) {
					if (response.code == 200) {
						q.list = response.list;
					}
				});
			}
		}

		$scope.loading = false;
		$scope.get = function() {
			$scope.loading = true;
			$scope.list = [];
			if($scope.nid == 2){
				$http.post(service + "webuser/getMyGradeMaterial?rows=99&gid=184&mid=" + $scope.mid + "&cid=" + $scope.cid).success(function(response) {
					$scope.loading = false;
					if (response.code == 200) {
						$scope.list = response.list;
					}
				});
			}else{
				var type = $scope.nid ? 'GradeExam' : 'PlanGrade';
				$http.post(service + "webuser/getMy" + type + "?type=2&rows=99&mid=" + $scope.mid + "&cid=" + $scope.cid).success(function(response) {
					$scope.loading = false;
					if (response.code == 200) {
						$scope.list = response.list;
						for (var i = $scope.list.length; i--;) {
							if (!$scope.list[i].jdlist.length) $scope.list.splice(i, 1)
						}
					}
				});
			}
		}
		$scope.$watch('nid', function(n, o) {
			if(n != undefined)
				$scope.get();
		});
	})
</script>
</body>
</html>