<div class="header box ng-init" ng-controller="header">
	<div class="top_bar f_biger">
		<div class="page cf">
			<div class="fl">
				中科建安教育 :与您携手通过考试 &nbsp;
				<span ng-if="!user.logined" class="fr" style="margin-left:40px"><a class="tb_a" ng-href="{{user.registerURL}}">注册</a> <span class="dl">|</span> <a class="tb_a" ng-href="{{user.loginURL}}">登录</a></span>
				<span ng-if="user.logined" class="dl" style="width: 140px;" ng-class="{'on':showU}" ng-mouseenter="showU=true" ng-mouseleave="showU=false">&nbsp;
					<li class="dl_b">
						<a class="dl_t" ng-href="<!--#echo var='ver1'-->user/plan_v.html" title="欢迎，{{user.info.nickname}}">
						<img ng-src="{{user.info.logo?user.info.logo:'<!--#echo var='ver1'-->images/avatar_man.png'}}" class="icon i_avatar">
						{{user.info.nickname | slice:5}}<i class="icon i_up"></i></a>
						<a href="<!--#echo var="ver1"-->user/detail.html">个人资料</a>
						<a href="<!--#echo var="ver1"-->user/password.html">修改密码</a>
						<a href="javascript:" ng-click="user.out()">退出登录</a>
					</li>
				</span>
			</div>
			<div class="fr">
				<span class="dl" style="width: 132px;" ng-class="{'on':nav0}" ng-mouseenter="nav0=true" ng-mouseleave="nav0=false">&nbsp;
					<li class="dl_b">
						<a class="dl_t" href="<!--#echo var="ver1"-->help/1.html"><i class="icon i_help"></i>帮助中心<i class="icon i_up"></i></a>
						<a target="_blank" href="<!--#echo var="ver1"-->help/1.html">新手指南</a>
						<a target="_blank" href="<!--#echo var="ver1"-->help/3.html">支付方式</a>
						<a target="_blank" href="<!--#echo var="ver1"-->help/7.html">售后服务</a>
						<a target="_blank" href="<!--#echo var="ver1"-->help/9.html">服务条款</a>
					</li>
				</span>
				<span class="dl" style="width: 132px;" ng-class="{'on':nav1}" ng-mouseenter="nav1=true" ng-mouseleave="nav1=false">&nbsp;
					<li class="dl_b">
						<a target="_blank" class="dl_t" href="<!--#echo var='ver1'-->help/about/1.html"><i class="icon i_about"></i>关于我们<i class="icon i_up"></i></a>
						<a target="_blank" href="<!--#echo var='ver1'-->help/about/1.html">公司介绍</a>
						<!-- <a target="_blank" href="">企业荣誉</a> -->
						<a target="_blank" href="<!--#echo var='ver1'-->teacher/list.html">师资力量</a>
						<a target="_blank" href="<!--#echo var='ver1'-->picture/list.html">特训现场</a>
					</li>
				</span>
				<span ng-if="user.logined">
				<a class="tb_a" href="<!--#echo var="ver1"-->user/car.html"><i class="icon i_car"></i>购物车(<b class="red">{{user.car}}</b>)</a>
				<a class="tb_a" href="<!--#echo var="ver1"-->user/news.html"><i class="icon i_ring"></i>通知(<b class="red">{{user.unread}}</b>)</a></span>
			</div>
		</div>
	</div>
	<div class="page nav f_biger">
		<h1><a href="<!--#echo var="ver1"-->"><img src="<!--#echo var="ver1"-->images/logo.png" alt="">中科建安</a></h1>
		<span class="header_nav">
			<a title="章节练习_习题列表_中科建安" href="<!--#echo var='ver1'-->test/item/question_0_1.html">章节练习_习题列表_中科建安</a>
			<a title="历年真题_习题列表_中科建安" href="<!--#echo var='ver1'-->test/item/real_0_1.html">历年真题_习题列表_中科建安</a>
			<a title="模拟考试_习题列表_中科建安" href="<!--#echo var='ver1'-->test/item/simul_0_1.html">模拟考试_习题列表_中科建安</a>
			<a title="定制习题_习题列表_中科建安" href="<!--#echo var='ver1'-->test/item/grade_0_1.html">定制习题_习题列表_中科建安</a>
		</span>
		<span class="hd_ph"><i class="icon i_phone"></i>全国免费服务热线 010-61705052</span>
		<span class="hd_ph"><i class="icon i_phone"></i>24小时必过热线 18600798969</span>
		<div class="nav_a">
			<a class="na_a" ng-class="{'in':nav==''}" href="<!--#echo var='ver1'-->">首页</a>
			<span class="dl" ng-class="{'on':nav2}" ng-mouseenter="nav2=true" ng-mouseleave="nav2=false">&nbsp;
				<li class="dl_b">
					<a class="dl_t" ng-class="{'in':nav=='news'}" href="<!--#echo var='ver1'-->news/list.html">新闻动态<i class="icon i_up"></i></a>
					<a href="<!--#echo var='ver1'-->news/item/6_0_1.html">地方资讯</a>
					<a href="<!--#echo var='ver1'-->news/item/3_0_1.html">行业热点</a>
					<a href="<!--#echo var='ver1'-->news/item/7_0_1.html">专题报道</a>
					<a href="<!--#echo var='ver1'-->news/item/4_0_1.html">法律法规</a>
				</li>
			</span>
			<a href="<!--#echo var='ver1'-->class/list.html" class="na_a" ng-class="{'in':nav=='class'}">课程介绍</a>
			<span class="dl" ng-class="{'on':nav3}" ng-mouseenter="nav3=true" ng-mouseleave="nav3=false">&nbsp;
				<li class="dl_b">
					<a class="dl_t" ng-class="{'in':nav=='test'}" href="<!--#echo var='ver1'-->test/list.html">在线题库<i class="icon i_up"></i></a>
					<a href="<!--#echo var='ver1'-->test/list.html">章节练习</a>
					<a href="<!--#echo var='ver1'-->test/list.html?type=AllReal">历年真题</a>
					<a href="<!--#echo var='ver1'-->test/list.html?type=AllSimul">模拟考试</a>
					<a href="<!--#echo var='ver1'-->test/list.html?type=DayQueston">每日作业</a>
				</li>
			</span>
			<span class="dl" ng-class="{'on':nav4}" ng-mouseenter="nav4=true" ng-mouseleave="nav4=false">&nbsp;
				<li class="dl_b">
					<a class="dl_t" ng-class="{'in':nav=='user'}" href="<!--#echo var='ver1'-->user/plan_v.html">学习中心<i class="icon i_up"></i></a>
					<a href="<!--#echo var='ver1'-->user/plan_v.html">学习计划</a>
					<a href="<!--#echo var='ver1'-->user/class.html">我的课程</a>
					<a href="<!--#echo var='ver1'-->user/test.html">我的题库</a>
				</li>
			</span>
			<span class="dl" ng-class="{'on':nav5}" ng-mouseenter="nav5=true" ng-mouseleave="nav5=false">&nbsp;
				<li class="dl_b">
					<a class="dl_t" ng-class="{'in':nav=='exam'}" href="<!--#echo var='ver1'-->exam/enter.html">考试指南<i class="icon i_up"></i></a>
					<a href="<!--#echo var='ver1'-->exam/enter.html">报名入口</a>
					<a href="<!--#echo var='ver1'-->exam/know.html">考试须知</a>
					<a href="<!--#echo var='ver1'-->exam/knowledge.html">技巧心得</a>
				</li>
			</span>
			<a href="<!--#echo var='ver1'-->download/list.html" class="na_a" ng-class="{'in':nav=='download'}">资料下载</a>
		</div>
		<form class="header_s" action="<!--#echo var="ver1"-->search.html">
			<select name="hstype" ng-model="type">
				<option value="1" selected>视频</option>
				<option value="2">试题</option>
			</select>
			<input type="text" name="hsname" autocomplete="off" ng-model="key" ng-keyup="get(key,type)" ng-focus="get(key,type)" ng-blur="blur()" placeholder="输入搜索内容">
			<button class="i_search" type="submit"></button>
			<div ng-if="focus&&list.length>0&&type==1">
				<a ng-repeat="s in list" href="<!--#echo var="ver1"-->search.html?hstype=1&hsname={{s.name}}"><b>{{s.name}} {{s.tname}}</b> {{s.gnames}} <br ng-if="s.gnames">{{s.major_name}} {{s.course_name}}</a>
			</div>
			<div ng-if="focus&&list.length>0&&type==2">
				<a ng-repeat="s in list" href="<!--#echo var="ver1"-->test/item.html?mid={{s.major_id}}&cid={{s.course_id}}&type={{s.sid>0?'AllSimul':'AllReal'}}&sid={{s.sid>0?s.sid:s.rid}}&name={{s.title}}"><b>{{s.title | slice:42}}</b>{{s.major_name}} - {{s.course_name}}</a>
			</div>
		</form>
	</div>
	<div class="fly f_biger" ng-hide="hideFly">
		<i class="fly_close" ng-click="hideFly=true"></i>
		<!-- <p>距离考试还有<br><b>{{date}}</b>天</p> -->
		<p class="fly_code"><img src="<!--#echo var="ver1"-->images/code.png">微信公众号</p>
		<a target="_blank" class="fly_qq" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwMTk2Ml80NjAzODhfNDAwNjc4MDY4MV8yXw"><img src="<!--#echo var="ver1"-->images/qq.png">在线咨询</a>
		<label class="top_t" ng-click="goTop()"><i class="icon i_top"></i> 返回顶部</label>
	</div>
	<div ng-if="user.showPanl">
		<div class="hbg"></div>
		<form ng-submit="$parent.user.login(ph,pw,checked)" ng-init="checked='1'" class="login_f login_panl" name="user" novalidate>
			<a href="javascript:" id="alertR" ng-click="$parent.user.showPanl=false">X</a>
			<h3><b>请先登录</b> <a href="{{user.registerURL}}" class="fr">立即注册</a></h3>
			<ul class="form">
				<li class="no_f red">{{$parent.user.errMsg}}</li>
				<li><input type="text" class="txt login_ph" ng-model="ph" vphone name="ph" required placeholder="手机号"><span class="err" ng-show="user.ph.$dirty&&user.ph.$invalid">请输入正确格式的手机号码</span></li>
				<li><input type="password" class="txt login_pw" ng-model="pw" name="pw" required placeholder="密码"><span class="err" ng-show="user.pw.$dirty&&user.pw.$invalid">请输入密码</span></li>
				<li class="no_f"><label for="auto"><input type="checkbox" id="auto" ng-model="checked" name="checked" ng-true-value="1" ng-false-value="0">下次自动登录</label> <a href="<!--#echo var="ver1"-->user/findpwd.html?ph={{ph}}&href={{user.fromURL}}" class="fr">忘记密码?</a></li>
				<li class="no_f"><button class="sub btn" type="submit" ng-disabled="user.$invalid">登&emsp;&emsp;录</button></li>
			</ul>
		</form>
	</div>
</div>
<div style="position: fixed;top: 240px;right: 50%;margin: 0 610px 0 0;background: #dbe0a5;border-radius: 9px;width: 180px;text-align: center;padding: 9px 0;color: #924013">
	<h2 style="font-size: 20px;line-height: 30px">2017年注安考试<br>真题答案</h2>
	<a href="<!--#echo var='ver1'-->news/item/1403.html" style="display: block;width: 162px;height:40px;padding:22px 0;line-height:40px;background: url(<!--#echo var='ver1'-->tmp/q.png);margin: 0 auto;min-width: font-size:16px;color:#02c31a" title="2017年注安考试真题答案_安全生产技术_中科建安">安全生产技术</a>
	<a href="<!--#echo var='ver1'-->news/item/1401.html" style="display: block;width: 162px;height:40px;padding:22px 0;line-height:40px;background: url(<!--#echo var='ver1'-->tmp/q.png);margin: 9px auto;min-width: font-size:16px;color:#ff6e00" title="2017年注安考试真题答案_安全生产管理知识_中科建安">安全生产管理知识</a>
	<a href="<!--#echo var='ver1'-->news/item/1407.html" style="display: block;width: 162px;height:40px;padding:22px 0;line-height:20px;background: url(<!--#echo var='ver1'-->tmp/q.png);margin: 9px auto;min-width: font-size:16px;color:#ab25b4" title="2017年注安考试真题答案_安全生产法及相关法律知识_中科建安">安全生产法及<br>相关法律知识</a>
	<a href="<!--#echo var='ver1'-->news/item/1402.html" style="display: block;width: 162px;height:40px;padding:22px 0;line-height:20px;background: url(<!--#echo var='ver1'-->tmp/q.png);margin: 0 auto;min-width: font-size:16px;color:#1594e9" title="2017年注安考试真题答案_安全生产事故案例分析_中科建安">安全生产事故<br>案例分析</a>
	<p>附考点对照解析</p>
</div>