<!DOCTYPE html>
<html>
<head>
	<!--#include virtual="/include/head.html"-->
	<title>学习中心</title>
</head>
<body ng-app="baseApp">
<!--#include virtual="/include/header.html"-->
<div class="page cf">
	<div class="bread"><a href="<!--#echo var="ver1"-->">首页</a>&gt;<span>学习中心</span></div>
	<div class="nav_l box f_biger ng-init" ng-controller="userNav" data-nid="5">
		<div ng-repeat="n in list" ng-class="{'in':nid==$index}">
			<a href="{{n.href}}" ng-click="$parent.nid=$index" class="btn">{{n.name}}</a>
			<a href="{{m.href}}" ng-class="{'on':mid==$index}" ng-repeat="m in n.list" ng-click="mid=$index" class="nav_l_a">{{m.name}}</a>
		</div>
	</div>
	<div class="box_r ng-init" ng-controller="car">
		<div ng-if="list.length">
			<div class="carlist">
				<table ng-repeat="s in list">
					<tr>
						<th><label><input name="gid" type="checkbox" ng-model="s.checked" ng-change="pick()"> {{s.name}}</label></th>
						<th width="99">单价</th>
						<th width="99">总价</th>
						<th width="130" style="text-align: right;">操作</th>
					</tr>
					<tr>
						<td class="carinfo"><ul>
							<li ng-repeat="g in s.glist" ng-class="{'last':$last}">
								<img ng-src="{{g.imgurl}}">
								<b>{{g.name}}</b>
								<p class="gray">截至日期：{{s.etime}}</p>
							</li>
							<li ng-if="!s.glist.length" class="last">
								<img ng-src="{{s.imgurl}}">
								<b>{{s.name}}</b>
								<p class="gray">截至日期：{{s.etime}}</p>
							</li>
						</ul></td>
						<td class="carinfo"><ul>
							<li ng-repeat="g in s.glist" ng-class="{'last':$last}">
								<span class="red" ng-if="s.glist.length>1">￥{{g.cmoney|money}}</span>
							</li>
							<li ng-if="!s.glist.length" class="last">
								<span class="red">￥{{s.cmoney|money}}</span>
							</li>
						</ul></td>
						<td><b class="red">￥{{s.cmoney|money}}</b></td>
						<td style="text-align: right;">
							<a href="javascript:" class="a_check" ng-class="{'on':s.del}" ng-click="s.del=!s.del">
								<i class="icon i_sdel"></i>
								<span class="a_show">删除</span>
								<span class="a_hide">确认删除：<u ng-click="del($index)">是</u> <u>否</u></span>
							</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="carbar box">
				<label for="all" class="fl"><input type="checkbox" id="all" ng-model="$parent.all" ng-change="pickAll()">全选</label>
				<a href="javascript:" class="a_check fl" ng-show="checked" ng-class="{'on':s.checkDel}" ng-click="s.checkDel=!s.checkDel">
					<i class="icon i_sdel"></i>
					<span class="a_show">删除选中</span>
					<span class="a_hide">确认删除：<u ng-click="delChecked()">是</u> <u>否</u></span>
				</a>
				<a href="javascript:" class="a_check fl red" ng-class="{'on':s.checkAllDel}" ng-click="s.checkAllDel=!s.checkAllDel">
					<span class="a_show">清空购物车</span>
					<span class="a_hide">确认清空：<u ng-click="delAll()">是</u> <u>否</u></span>
				</a>
				已选商品<span class="red"> {{checked}} </span>件<i class="bh"></i>合计（不含运费）： <b class="red">￥{{price|money}}</b><label ng-click="pay()" class="btn bg_red" ng-class="{'disabled':!checked||loading}">结 算{{loading}}</label></div>
		</div>
		<div class="box" ng-if="!list.length">
			<div class="search_none">
				购物车是空的哟~
			</div>
		</div>
	</div>
</div>
<!--#include virtual="/include/footer.html"-->
</body>
</html>