<!DOCTYPE html>
<html>
<head>
	<!--#include virtual="/include/head.html"-->
	<title>我的题库</title>
</head>
<body ng-app="baseApp">
<!--#include virtual="/include/header.html"-->
<div class="page ng-init" ng-controller="mytest">
	<ul class="class_nav box">
		<li>
			<b>请选择</b>
			<label ng-repeat="s in slist" ng-click="setType(s.type)" ng-class="{'on':rt.type==s.type}">{{s.name}}</label>
		</li>
		<li ng-if="rt.type==slist[0].type">
			<b>错题类别</b>
			<label ng-class="{'on':rt.errtype==1}" ng-click="setErrtype(1)">章节练习</label>
			<label ng-class="{'on':rt.errtype==3}" ng-click="setErrtype(3)">历年真题</label>
			<label ng-class="{'on':rt.errtype==2}" ng-click="setErrtype(2)">模拟考试</label>
			<label ng-class="{'on':rt.errtype==4}" ng-click="setErrtype(4)">学习计划</label>
		</li>
		<!-- <li>
			<b>报考专业</b>
			<label ng-repeat="m in mlist" ng-click="setMid(m.id)" ng-class="{'on':rt.mid==m.id}">{{m.major_name}}</label>
		</li> -->
		<li ng-if="clist.length">
			<b>报考科目</b>
			<label ng-class="{'on':rt.cid==0}" ng-click="setCid(0)">不限</label>
			<label ng-repeat="c in clist" ng-click="setCid(c.id,$index)" ng-class="{'on':rt.cid==c.id}">{{c.course_name}}</label>
		</li>
		<li ng-if="dlist.length">
			<b>二级科目</b>
			<label ng-class="{'on':rt.did==0}" ng-click="setDid(0)">不限</label>
			<label ng-repeat="d in dlist" ng-click="setDid(d.id)" ng-class="{'on':rt.did==d.id}">{{d.course_name}}</label>
		</li>
	</ul>
	<div class="box" oncopy="return false" onselectstart="return false">
		<ul class="qtnlist" ng-if="!loading&&list.length">
			<li class="qtnlist_li" ng-repeat="s in list" ng-class="{'last':$last}">
				<div class="qtnlist_qt">
					<div ng-bind-html="html(s.question)" ng-class="{'p1':t.question_type_id>2}"></div>
					<label ng-repeat="a in s.options" ng-class="{'on':vote(s.checked,a.id,s.question_type_id)}"><span>{{$index | abcd}}</span>{{a.answer}}</label>
					<div class="btns">
						<a href="javascript:" class="a_check" ng-class="{'on':s.checkDel}" ng-if="rt.type==slist[0].type" ng-click="s.checkDel=!s.checkDel">
							<i class="icon i_del"></i>
							<span class="a_show">删除记录</span>
							<span class="a_hide">确认删除：<u ng-click="delStudy(s.qid)">是</u> <u>否</u></span>
						</a>
						<a href="javascript:" class="a_check" ng-class="{'on':s.checkStar}" ng-show="s.colled" ng-click="s.checkStar=!s.checkStar">
							<i class="icon i_fav_h"></i>
							<span class="a_show">取消收藏</span>
							<span class="a_hide">确认取消：<u ng-click="delStar(s)">是</u> <u>否</u></span>
						</a>
						<a href="javascript:" ng-show="rt.errtype==1&&!s.colled" ng-click="addStar(s)">
							<i class="icon i_fav"></i> 加入收藏
						</a>
					</div>
				</div>
				<ul>
					<li ng-if="s.question_type_id<3"><span class="li_s_i">参考答案：</span><span class="green" ng-repeat="a in s.options" ng-if="a.is_real">{{$index | abcd}}</span> <span class="gray">统计全平台正确率为 {{pen(s.answer_right,s.answer_num)}}</span></li>
					<li ng-if="s.analysis"><span class="li_s_i">参考解析：</span><div ng-bind-html="html(s.analysis)"></div></li>
				</ul>
			</li>
		</ul>
		<!--#include virtual="/include/pagination.html"-->
		<div class="search_none" ng-if="!loading&&!list.length">
			很抱歉，暂无相关内容
		</div>
	</div>
</div>
<!--#include virtual="/include/footer.html"-->
</body>
</html>